<style>
div {
  text-align: center;
}

img {
  width: 250px;
  filter: brightness(90%) hue-rotate(250deg) grayscale(10%);
  opacity: 0.7;
}
</style>


<div>
  <img src="/images/jm2021.png" alt="James McEwan"/>
</div>
