---
import social from '../../data/social.json';
---

<div class="elsewhere">
  <ul>
    {social.items.map(item => (
    <li>
      <a aria-label="{item.name}" href="{item.url}">
        <i aria-hidden="true" class="fab fa-{item.name.toLowerCase()}"></i>
      </a>
    </li>
    
    ))}
  </ul>
</div>
