:root {
  --base: #0b011c;
  --primary: #cab3f7;
  --secondary: #1ea8fc;
  --links: #fe5de1;
  --typeface: "Merriweather", serif;
  --weight: 300;
}

body {
  background-color: var(--base);
  color: var(--primary);
  font-size: 10px;
  font-family: var(--typeface);
  font-style: normal;
  font-weight: var(--weight);
}

.wrapper {
  width: 90%;
  max-width: 500px;
  margin: 26px auto;
}

.selfie {
  text-align: center;
}
.selfie img {
  width: 250px;
}

footer {
  font-size: 1.2rem;
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

a {
  color: var(--links);
  text-decoration: none;
}

em {
  font-style: normal;
  color: var(--secondary);
}

img {
  filter: brightness(90%) hue-rotate(250deg) grayscale(10%);
  opacity: 0.7;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-style: italic;
  word-spacing: 0.14rem;
}

h1,
h2 {
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
}
