<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>{{ title }}</title>

  </head>

  <body>
    <div class="wrapper">
      {{ content | safe }}

    
      <footer class="footer">
        &copy; 2020 
      </footer>
    </div>
  </body>
</html>
