<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/meta.njk' %}
    <title>{{ title }} | {{ site.title }}</title>
    {% include 'partials/styles.njk' %}
    {% include 'partials/icons.njk' %}

  </head>

  <body>
    <div class="wrapper">
      {{ content | safe }}

      <footer class="footer">
        &copy; 2020 {{ site.author }}
      </footer>
    </div>
  </body>
</html>
