---
import LinkBlock from '@/components/block/link-block.astro'
---

<nav>
  <LinkBlock
    href="/"
    cta
    center
    color="text-tn-teal0/80"
    hover="hover:text-tn-teal0">Back to home</LinkBlock
  >
</nav>
