---
import LinkBlock from '@/components/block/link-block.astro'
---

<nav>
  <LinkBlock
    href="/"
    cta
    center
    color="text-tn-teal1"
    hoverColor="text-tn-teal0">Back to home</LinkBlock
  >
</nav>
