---
import siteConfig from '@/data/site-config'
---

<footer>
  <p class="font-rethink text-tn-text text-md font-light">
    &copy; 2022 {siteConfig.author}.<br />Built with {
      siteConfig.tooling.map((tool) => (
        <span>
          <a href={tool.url} class="text-tn-blue0 hover:text-tn-blue1">
            {tool.name}
          </a>
          ,{' '}
        </span>
      ))
    } and &nbsp;💛
  </p>
</footer>
