---
interface GridType {
  kind?: 'horizontal' | 'vertical'
  extendClass?: string
}

const { kind, extendClass }: GridType = Astro.props

const baseClass = 'grid gap-12'
const kindClass = kind === 'horizontal' ? 'grid-cols-2' : 'grid-cols-1'
const cssClass = `${baseClass} ${kindClass} ${extendClass}`
---

<div class={cssClass}><slot /></div>
