---
const { title } = Astro.props
---

<main
  class="prose-lg prose font-rethink text-tn-text prose-headings:font-cartridgeboldrough prose-headings:text-tn-text prose-h2:text-tn-orange prose-h3:text-tn-blue0 prose-a:text-tn-purple0 prose-a:hover:text-tn-purple1 prose-img:rounded-xl"
>
  <h1>{title}</h1>
  <slot />
</main>
