@font-face {
  font-family: 'cartridgebold';
  src:
    url('/fonts/cartridge-bold-webfont.woff2') format('woff2'),
    url('/fonts/cartridge-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cartridgebold_rough';
  src:
    url('/fonts/cartridge-boldrough-webfont.woff2') format('woff2'),
    url('/fonts/cartridge-boldrough-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cartridgeregular';
  src:
    url('/fonts/cartridge-regular-webfont.woff2') format('woff2'),
    url('/fonts/cartridge-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cartridgerough';
  src:
    url('/fonts/cartridge-rough-webfont.woff2') format('woff2'),
    url('/fonts/cartridge-rough-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
