@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@theme {
  --font-cartridgeregular: cartridgeregular, sans-serif;
  --font-cartridgebold: cartridgebold, sans-serif;
  --font-cartridgerough: cartridgerough, sans-serif;
  --font-cartridgeboldrough: cartridgebold_rough, sans-serif;
  --font-rethink: Rethink Sans, sans-serif;
  --color-tn-pink: #ff007c;
  --color-tn-purple0: #bb9af7;
  --color-tn-purple1: #9d7cd8;
  --color-tn-red0: #ff757f;
  --color-tn-red1: #c53b53;
  --color-tn-orange: #ff9e64;
  --color-tn-yellow: #ffc777;
  --color-tn-yellowgreen: #c3e88d;
  --color-tn-green: #b4f9f8;
  --color-tn-teal0: #4fd6be;
  --color-tn-teal1: #41a6b5;
  --color-tn-blue0: #7dcfff;
  --color-tn-blue1: #7aa2f7;
  --color-tn-blue2: #3d59a1;
  --color-tn-blue3: #394b70;
  --color-tn-text: #c0caf5;
  --color-tn-overlay0: #a9b1d6;
  --color-tn-overlay1: #737aa2;
  --color-tn-overlay2: #565f89;
  --color-tn-surface0: #545c7e;
  --color-tn-surface1: #414868;
  --color-tn-surface2: #3b4261;
  --color-tn-base: #292e42;
  --color-tn-mantle: #15161e;
  --color-tn-crust: #1a1b26;
}
