---
import { getCollection } from 'astro:content'
import PageLayout from '@/layouts/page-layout.astro'
import Main from '@/components/ui/main.astro'

export async function getStaticPaths() {
  const pages = await getCollection('pages')
  return pages.map((page) => {
    const isIndex = page.slug === 'index' || page.data.permalink === '/'

    return {
      params: {
        slug: isIndex ? undefined : page.slug,
      },
      props: { page },
    }
  })
}

const { page } = Astro.props
const { Content } = await page.render()
const { title, description } = page.data
---

<PageLayout {description} {title}>
  <Main>
    <Content />
  </Main>
</PageLayout>
