---
import { ClientRouter } from 'astro:transitions'
import Head from '@/components/structure/head.astro'
import '@/styles/global.css'

const { title } = Astro.props
---

<html lang="en">
  <head>
    <Head {title} />
    <ClientRouter />
  </head>
  <body class="bg-tn-crust">
    <slot />
  </body>
</html>
