---
import site from "@/data/site.json";

export interface Props {
  author: string;
}

const { author } = Astro.props;
---

<footer class="my-10 font-mixta text-lg font-medium italic text-text">
  &copy; 2022 {author}.<br />Built with {
    site.tooling.map((tool) => (
      <span>
        <a href={tool.url} class="text-pink hover:text-flamingo">
          {tool.name}
        </a>
        ,{" "}
      </span>
    ))
  } and &nbsp;💛
</footer>
