body {
  background-color: #0b011c;
  color: #cab3f7;
  font-size: 10px;
  font-family: "overpass mono", monospace;
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  width: 90%;
  max-width: 500px;
  margin: 26px auto;
}

.selfie {
  margin: auto;
  max-width: 250px;
}

em {
  font-style: normal;
  color: #1ea8fc;
}

h1 {
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}

p {
  font-size: 1.2rem;
  line-height: 1.3;
}

footer {
  font-size: 0.9rem;
  line-height: 1.3;
}

a {
  color: #fe5de1;
  text-decoration: none;
}

img {
  filter: brightness(90%) hue-rotate(250deg) grayscale(10%);
  opacity: 0.7;
}
