$screen: 901px;

:root {
  --heading-font: "Informative-Black", sans-serif;
  --main-font: "Informative-Regular", sans-serif;
  --primary-text: #ccd3dc;
  --link: #c3ffde;
  --link-hover: #a168ff;
  --dark-bg: #151617 linear-gradient(#1a0f21, #151617 70%) no-repeat;
}
