---
import site from '../data/site.json';
import Head from './components/head.astro';
import Footer from './components/footer.astro';
export let content: any;

---

<!DOCTYPE html>
<html lang="en">
  <Head site={site} content={content} />
  <body>
    <div>
      <slot />

      <Footer author={site.author} />
    </div>
  </body>
</html>

<style>
  div {
    width: 90%;
    max-width: 500px;
    margin: 26px auto;
  }
</style>
