---
import Base from './base.astro';

export interface ContentProps {
  title: string
  permalink: string;
  astro: any;
}

export interface Props {
  content: ContentProps;
}

const { content } = Astro.props;
---
<Base content={content}> 
  <main data-testid="main">
    <slot />
  </main>
</Base>
