---
import FooterBlock from '@/components/block/footer-block.astro'
import MightyDinosaurBlock from '@/components/block/mighty-dinosaur-block.astro'
import Body from '@/components/structure/body.astro'
import GridBlock from '@/components/block/grid-block.astro'
import DecorativeBlock from '@/components/block/decorative-block.astro'
import ColumnBlock from '@/components/block/column-block.astro'
import WrapperBlock from '@/components/block/wrapper-block.astro'

const { title, decoration, description, url } = Astro.props
---

<Body {title} {description} {url}>
  <WrapperBlock full>
    <GridBlock extendClass="md:grid-cols-3">
      <ColumnBlock two>
        <slot />
      </ColumnBlock>
      <ColumnBlock>
        <GridBlock>
          <MightyDinosaurBlock />
          <DecorativeBlock images={decoration} />
        </GridBlock>
      </ColumnBlock>
      <FooterBlock />
    </GridBlock>
  </WrapperBlock>
</Body>
