---
import Footer from '@/components/ui/footer.astro'
import MightyDinosaur from '@/components/ui/mighty-dinosaur.astro'
import RecentPosts from '@/components/ui/recent-posts.astro'
import Body from '@/components/structure/body.astro'
import Maker from '@/components/ui/maker.astro'
import ImageBlock from '@/components/ui/image-block.astro'
import Elsewhere from '@/components/ui/elsewhere.astro'

const { title } = Astro.props
---

<Body {title}>
  <div class="mx-auto mb-12 max-w-7xl px-4">
    <div class="gap-12 md:grid md:grid-cols-3">
      <div class="col-span-2">
        <slot />
        <RecentPosts />
        <Maker />
        <Elsewhere />
      </div>
      <div>
        <MightyDinosaur />
        <div class="grid grid-cols-2 gap-12 md:grid-cols-1 md:gap-0">
          <ImageBlock src="/images/james.webp" alt="James McEwan" />
          <ImageBlock
            src="/images/mighty.webp"
            alt="Mighty - The Mighty Dinosaur"
          />
        </div>
      </div>
    </div>
    <Footer />
  </div>
</Body>
