---
import site from "@/data/site.json";
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head {site} {content} />
  </head>
  <body class="bg-y3-r2 dark:bg-y-r-b">
    <div class="md:container md:mx-auto px-4">
      <Header />
      <main
        class="font-body prose lg:prose-xl prose-headings:font-display prose-a:no-underline 
        prose-headings:text-y-r-b prose-a:text-y-r-b4 text-y4-r-b4 dark:text-r2-b2 dark:prose-headings:text-y2-r3-b2 dark:prose-a:text-r3-b3"
      >
        <slot />
      </main>
      <Footer author={site.author} />
    </div>
  </body>
</html>
