---
import FooterBlock from '@/components/block/footer-block.astro'
import MightyDinosaurBlock from '@/components/block/mighty-dinosaur-block.astro'
import Body from '@/components/structure/body.astro'
import ImageBlock from '@/components/block/image-block.astro'
import GridBlock from '@/components/block/grid-block.astro'
import ColumnBlock from '@/components/block/column-block.astro'
import WrapperBlock from '@/components/block/wrapper-block.astro'

const { title } = Astro.props
---

<Body {title}>
  <WrapperBlock full>
    <GridBlock extendClass="md:grid-cols-3">
      <ColumnBlock two>
        <slot />
      </ColumnBlock>
      <ColumnBlock>
        <GridBlock>
          <MightyDinosaurBlock />
          <GridBlock extendClass="grid-cols-2 md:grid-cols-1">
            <ImageBlock src="/images/james.webp" alt="James McEwan" />
            <ImageBlock
              src="/images/mighty.webp"
              alt="Mighty - The Mighty Dinosaur"
            />
          </GridBlock>
        </GridBlock>
      </ColumnBlock>
      <FooterBlock />
    </GridBlock>
  </WrapperBlock>
</Body>
