---
import site from '@/data/site'
import Head from '@/components/Head.astro'
import Footer from '@/components/Footer.astro'
import Links from '@/components/Links.astro'
import MightyDinosaur from '@/components/mighty-dinosaur.astro'
import '../styles/global.css'

const { content } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />
    <Head {site} {content} />
  </head>
  <body class="bg-tn-crust">
    <div class="my-12 px-4 md:container md:mx-auto">
      <div class="xl:flex xl:gap-12">
        <div class="xl:order-1 xl:flex-1">
          <main
            class="prose prose-lg font-rethink text-tn-text prose-headings:font-rethink prose-headings:font-extrabold prose-headings:italic prose-headings:text-tn-text prose-a:text-tn-pink prose-a:no-underline prose-a:hover:text-tn-purple1 font-light"
          >
            <slot />
          </main>
          <Links />
        </div>
        <div
          class="flex items-center justify-center xl:order-2 xl:flex-1 xl:items-start"
        >
          <div class="mt-12 w-full xl:mt-0">
            <img
              src="/images/james.webp"
              alt="James McEwan"
              class="rounded-3xl xl:max-w-md"
            />
            <div class="max-w-md pt-6">
              <MightyDinosaur />
            </div>
          </div>
        </div>
      </div>
      <Footer author={site.author} />
    </div>
  </body>
</html>
