---
import site from "@/data/site.json";
import Head from "@/components/Head.astro";
import Footer from "@/components/Footer.astro";
const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://use.typekit.net/urt2yyq.css" rel="stylesheet" />
    <Head {site} {content} />
  </head>
  <body class="bg-orange-100 dark:bg-stone-900">
    <div class="md:container md:mx-auto px-4 my-10">
      <div class="xl:flex xl:gap-12">
        <div class="xl:flex-1 xl:order-1">
          <main
            class="font-basic font-light prose md:prose-lg lg:prose-xl prose-headings:font-loslana  prose-headings:font-black
            prose-a:no-underline prose-headings:text-amber-800 prose-a:text-orange-700 hover:prose-a:text-orange-600 text-stone-700 dark:text-amber-100 dark:prose-headings:text-amber-700 dark:prose-a:text-amber-600 dark:hover:prose-a:text-amber-400"
          >
            <slot />
          </main>
        </div>
        <div class="flex justify-center items-center xl:flex-1 xl:order-2">
          <img
            src="/images/jm2021.png"
            alt="James McEwan"
            class="w-28 mt-10 xl:mt-0 xl:w-full xl:max-w-fit 	 	 dark:mix-blend-screen dark:sepia"
          />
        </div>
      </div>
      <Footer author={site.author} />
    </div>
  </body>
</html>
