---
import Body from '@/components/structure/body.astro'
import MightyDinosaurBlock from '@/components/block/mighty-dinosaur-block.astro'
import FooterBlock from '@/components/block/footer-block.astro'
import GridBlock from '@/components/block/grid-block.astro'
import WrapperBlock from '@/components/block/wrapper-block.astro'

const { title } = Astro.props
---

<Body {title}>
  <WrapperBlock>
    <GridBlock>
      <MightyDinosaurBlock />
      <slot />
      <FooterBlock />
    </GridBlock>
  </WrapperBlock>
</Body>
