name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 16.3.0
        uses: actions/setup-node@v1
        with:
          node-version: "16.3.0"

      - name: Install
        run: npm ci

      - name: Build
        run: npm run  build
        env:
          CI: true
