<link rel="icon" href="/icons/icon-48x48.png" />
{% for icon in site.favicons %}
<link
  rel="apple-touch-icon"
  sizes="{{ icon }}x{{ icon }}"
  href="/icons/icon-{{ icon }}x{{ icon }}.png"
/>
{% endfor %}
