<div class="elsewhere">
  <ul>
    {% for item in social.items %}
    <li>
      <a aria-label="{{ item.name }}" href="{{ item.url }}">
        <i aria-hidden="true" class="fab fa-{{ item.name | lower }}"></i>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
