<nav>
  <a
    href="/"
    class="bg-tn-mantle font-cartridgeboldrough text-tn-text hover:text-tn-yellowgreen prose-h2:font-normal rounded-md p-3 font-bold uppercase md:text-lg"
    >Back to home
  </a>
</nav>
