<main
  class="prose prose-lg font-rethink text-tn-text prose-headings:font-cartridgeboldrough prose-headings:font-extrabold prose-headings:text-tn-text prose-a:text-tn-pink prose-a:no-underline prose-a:hover:text-tn-purple1 font-light"
>
  <slot />
</main>
