---
import siteConfig from '@/data/site-config'
import SectionHeading from './section-heading.astro'
import Block from './block.astro'
import LinkBlock from './link-block.astro'
---

<Block>
  <SectionHeading>Where to find me</SectionHeading>
  <ul class="mt-2 grid gap-2 lg:grid-cols-2">
    {
      siteConfig.elsewhere.map((link) => (
        <li>
          <LinkBlock href={link.url}>
            {link.icon} / {link.name}
          </LinkBlock>
        </li>
      ))
    }
  </ul>
</Block>
