---
const { href } = Astro.props
---

<a
  href={href}
  class="text-md bg-tn-mantle font-rethink text-tn-purple1 block rounded-xl p-6 font-light transition-colors duration-500 ease-in-out hover:brightness-110"
  rel="me"
>
  <slot />
</a>
