---
import siteConfig from '@/data/site-config'
import SectionHeading from './section-heading.astro'
import Block from './block.astro'
import LinkBlock from './link-block.astro'
---

<Block>
  <SectionHeading>Things I've made</SectionHeading>
  <ul class="mt-2 grid grid-cols-3 gap-2">
    {
      siteConfig.maker.map((link) => (
        <li>
          <LinkBlock href={link.url}>{link.name}</LinkBlock>
        </li>
      ))
    }
  </ul>
</Block>
